* {
	font-family: "Open Sans";
}
/* HEADER */
header {
	background-image: url(../img/background/hero.jpg);
	background-size: 100%;
}
.opacity {
	background: rgba(0, 0, 0, 0.5);
}
.pt-2 {
	padding-top: 2%;
}
.logo {
	font-size: 1.3em;
	margin-left: 30px;
}
header li {
	display: inline-block;
	margin-left: 5%;
}
header a:hover {
	color: #888;
}
.containerHeader {
	margin: 15%;
}
.frase {
	font-size: 3em;
}
.descripcionHeader {
	font-weight: 100;
	padding-top: 4%;
}
/* botones header */
.contBoton {
	margin: 3%;
}
.botonHead {
	padding: 15px;
	display: inline-block;
	margin: 3%;
}
.bgGray {
	background: #2D313A;
	color: #C7CCD5;
}
.bgBlancoTrans {
	background: rgba(255, 255, 255, 0.1);
}
.botonHead a {
	text-decoration: none;
}
.botonHead a:hover {
 	color: #0dc0c0; 
}
/* Seccion de iconos 6x2 */
.seccionIconos i {
	font-size: 3em;
}
.seccionIconos h4 {
	font-weight: 500;
	padding-bottom: 2%;
}
.seccionIconos p, .seccionIconos2 p {
	font-size: 0.8em; 
}
.contIconos {
	padding: 15%;
}
 /* MORE FEATURES */
.moreFeatures {
	width: 70%;
	margin: 0 auto;
	padding-bottom: 2%;
}
.moreFeatures p {
	font-size: 2em;
	padding-top: 5%;
}
.moreFeatures img {
	width: 100%;
}

/* Seccion Pre Portafolio */
.seccionIconos2 {
	margin-top: 2%;
}
.seccionIconos2 h4 {
	font-weight: 400;
}
.seccionIconos2 i {
	font-size: 2em;
	position: absolute;
}
.cont1ico {
	width: 100%;
	margin: 5%;
}
.cont2ico {
	width: 90%;
	display: inline-block;
	margin-left: 6%;
}








/* Call to Action */
.callAction {           /* Fondo sección */
	background-image: url(../img/background/city.jpg);
	width: 100%;
}
.contAction {           /* Contenedor texto y botón */
	margin: 10%;
}
.fl {
	font-size: 1.5em;
	line-height: 1.8;
}
.bg-img-container {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top;
}
.botonAction {            /* Botón*/
	padding: 15px 20px 15px 20px;
	display: inline-block;
	margin: 7%;
	border: 1px solid rgba(255, 255, 255, 0.1);
}

/* Packages  */
.title {
	font-size: 2em;
}
.ls {
	list-style-type: none;
}
.ls  {
	border-right: 1px solid gray;
}

/* Customer */
.circle {
	width: 10%;
	height: 10%;
	border-radius: 50%;
}
/* Contact */
.contact {
	background-image: url(../img/background/contactus.jpg);
}



/* Follow */


/* Footer */ 
.bg-black {
	background-color: #222222;
}
.pd-3 {
	padding: 3%;
	font-size: 0.7em;
}


